body{font-family:serif,arial;background:#F6E7E7;}

header{text-align:center;background:linear-gradient(#B22222,#FF8C00);font-size:200%;border-style:inset;border-radius:20px 20px 0px 0px;opacity:.9;margin-bottom:30px;
}

nav{text-align:center;}

nav a{color:white;background:linear-gradient(#B22222,#FF7F50);margin:4%;
border:solid 1px;text-decoration: none;padding:4x;font-size:200%;border-radius:8px;}

nav a:hover{color:#B22222;background:#F6E7E7;}
nav a:active{color:#B22222;background:#F6E7E7;}

#firstlink,#secondlink,#thirdlink,#fourthlink{background:linear-gradient(#DC143C,#FFEFD5);text-align:center;}

#fourthlink{text-align:left;}

section>p::first-letter{font-size:30px;}

section{display:inline-block;width:30%;margin:1%;float:left}

#fourthlink{clear:both;}

table{position:relative;left:90px;border-radius:5px;text-align:left;font-family:arial;display:inline-block;margin-right:8%;margin:1%;background:linear-gradient(#FFE4B5,#FA8072);padding:3px;border-style:ridge;}

table tr td:nth-child(even){text-align:center;}

table tr{height:40px;text-shadow:.3px .3px #344338;}

footer::first-letter{font-size:30px;}


